
<web-header></web-header>
<ion-content [fullscreen]="true">
  <div class="fondo d-flex">
    <div class=" frojo w-100 d-flex flex-column">
      <h1 class="titulo my-3 text-white mx-auto my-auto"> Políticas de Privacidad</h1>
      <p class="mt-15 ms-auto text-white me-4 mb-4"> Inicio / Políticas de Privacidad</p>
    </div>
  
  </div>
<div class="ion-text-justify texto container">
  <div class="ion-text-end my-3">
    Nueva revisión: 28 de marzo de 2017
  </div>

  Privacidad:
  <br><br>
  En la Cámara Mexicana de la Industria de la Construcción, con domicilio en Periférico Sur # 4839, Colonia Parques del Pedregal, C.P. 14010, Delegación Tlalpan, México, Distrito Federal, estamos conscientes que nuestros afiliados, asociados o colaboradores tienen derecho a conocer qué información recabamos de ellos y nuestras prácticas en relación con dicha información. Las condiciones contenidas en el presente son aplicables a toda la información que se recaba a nombre de y por la Cámara Mexicana de la Industria de la Construcción en adelante La CMIC, a través de sus 43 Delegaciones en todo el país.

  <br><br>
  
  Datos Personales que se recaban:
  <br><br>
  La CMIC puede tratar los Datos Personales de sus afiliados, asociados o colaboradores, es decir, información que los identifica o los hace identificables. Algunos de estos datos personales son, por ejemplo: nombre, género, correo electrónico, domicilio fiscal, número de teléfono, fecha de nacimiento, datos de pago (tales como, número de tarjeta de crédito, vigencia), datos de facturación. Estos datos personales son proporcionados voluntariamente al afiliarse, asociarse o al integrarse a la CMIC o al decidir participar en los diversos productos y servicios que se ofrecen como Congresos, Reuniones Nacionales, boletines, foros, concursos o al registrarse para participar en otras actividades que la CMIC ofrezca. 
  <br><br>
  La CMIC podrá interrelacionar la información proporcionada por sus afiliados, asociados o colaboradores, con otra información que voluntariamente le sea proporcionada por terceros. Lo anterior, con el fin de adaptar nuestros productos, servicios y promociones de acuerdo a las necesidades y preferencias de cada uno.
  <br><br>
  Usos y finalidades de sus datos personales:
  <br><br>
  Los Datos Personales que reciba la CMIC serán tratados, además de cumplir con las obligaciones derivadas de la relación creada con sus afiliados o asociados, con las siguientes finalidades:
  <br><br>
  Proporcionar información sobre productos, servicios, promociones u otras actividades o propuestas de interés de la CMIC.
  Solicitar información para efectos de investigación de mercado.
  Brindar información para que los afiliados o asociados conozcan y participen en concursos, certámenes u otras actividades de la CMIC, así como para contactarlos con tales fines.
  Solicitar que se respondan algunas encuestas de satisfacción respecto a nuestros productos y servicios.
  Contactarlos en relación a los resultados de las evaluaciones realizadas de los productos y servicios de la CMIC o sobre algún otro tema.
  Dar seguimiento a algún problema que haya surgido respecto a los servicios y productos brindados.
  En general, enviar información de la CMIC y sus Instituciones Conexas, con fines publicitarios y de promoción.
  En el caso de los colaboradores, los datos personales que reciba la CMIC serán tratados exclusivamente para dar cumplimiento a las obligaciones derivadas de la relación contractual generada con ellos y no podrá ser compartida con terceras personas.
  <br><br>
  En caso de que los datos personales pretendan ser utilizados para una finalidad distinta a las anteriores, la CMIC notificará por correo electrónico o por teléfono, a fin de obtener su consentimiento para el tratamiento de sus datos personales de acuerdo a las nuevas finalidades. De no recibir su consentimiento, para los casos en que es necesario, la CMIC no utilizará sus datos personales.
  <br><br>
  Transmisión y transferencia de Datos Personales:
  <br><br>
  La CMIC no compartirá, sin el consentimiento previo, los datos personales de nuestros afiliados, asociados o colaboradores con terceros, nacionales o extranjeros, tales como: Empresas Afiliadas, Instituciones de Crédito, Instituciones de Seguros y Fianzas, Organismos Empresariales Nacionales o Extranjeros. Dicha transferencia deberá estar prevista en la Ley Federal de Protección de Datos Personales en Posesión de los Particulares. Se requerirá a terceros utilizar la información transferida únicamente para el fin de llevar a cabo el fin específico.
  <br><br>
  Seguridad:
  <br><br>
  La CMIC ha adoptado las medidas de seguridad, administrativas, técnicas y físicas, necesarias para proteger los datos personales de sus afiliados, asociados y colaboradores contra daño, pérdida, alteración, destrucción o el uso, acceso o tratamiento no autorizado.
  <br><br>
  Sin embargo, la CMIC no puede y por ende no garantiza que no existirá un acceso no autorizado a sus datos personales o que las comunicaciones estén libres de toda interrupción, error o intercepción por terceros no autorizados.
  <br><br>
  El acceso a los datos personales, en poder de la CMIC, se limitará a las personas que necesiten tener acceso a dicha información, con el propósito de llevar a cabo las finalidades identificadas.
  <br><br>
  Todos los afiliados, asociados o colaboradores que proporcionen sus Datos Personales a la CMIC y les sea asignado un nombre de usuario y contraseña, serán responsables de que dicha información se mantenga confidencial. Por lo que la CMIC sugiere no compartir esta información con nadie más.
  <br><br>
  Derechos que le corresponden:
  <br><br>
  El titular de datos personales podrá solicitar ante el Área de Protección de Datos Personales de la CMIC el acceso, rectificación, cancelación u oposición (derechos ARCO), respecto de sus datos personales. Asimismo, podrá, en todo momento, revocar el consentimiento que haya otorgado, y que fuere necesario, para el tratamiento de sus datos personales. Para ello, deberá enviar a Periférico Sur # 4839, Colonia Parques del Pedregal, C.P. 14010, Delegación Tlalpan, México, Distrito Federal o al correo electrónico avisodeprivacidad@cmic.org su solicitud respectiva en el Formato que para tales efectos se proporcione en la página web www.cmic.org
  <br><br>
  Para fácil referencia, les comunicamos que todos nuestros afiliados, asociados y colaboradores están en su derecho a:
  <br><br>
  Acceso.- que se les informe cuáles de sus datos personales están contenidos en las bases de datos de la CMIC y para qué se utilizan, así como el origen de dichos datos y las comunicaciones que se hayan realizado con los mismos.
  Rectificación.- que se corrijan o actualicen sus datos personales en caso de que sean inexactos o incompletos. Para lo cual deberán informar a la CMIC de los cambios que se deban hacer a sus datos personales, cuando dichos cambios solo sean de su conocimiento.
  Cancelación.- que sus datos personales sean dados de baja total o parcialmente de las bases de datos de la CMIC. Esta solicitud dará lugar a un periodo de bloqueo tras el cual procederá la supresión de los datos.
  Es importante señalar que, existen casos en los que la cancelación no será posible en términos de la Ley Federal de Protección de Datos Personales en Posesión de los Particulares y otras disposiciones legales aplicables.
  Oposición.- oponerse por causa legítima al tratamiento de sus datos personales por parte de la CMIC o limitar su uso o divulgación.
  En los casos que la oposición verse sobre la recepción de ciertos comunicados, en dichos comunicados se incluirá la opción para salir de la lista de envío y dejar de recibirlos.
  Cambios al Aviso de Privacidad:
  <br><br>
  La CMIC se reserva el derecho de modificar o enmendar, total o parcialmente, el presente Aviso de Privacidad. El Aviso de Privacidad modificado se le hará llegar al correo electrónico que nos proporcionó o se publicará en la página web: www.cmic.org. La falta de oposición al nuevo Aviso de Privacidad dentro de los 5 días hábiles siguientes a su recepción se entenderá como su aceptación a los términos que en él se establecen.
  <br><br>
  Consentimiento:
  <br><br>
  Al proporcionar cualquier tipo de información, incluyendo sus datos personales, usted expresamente: (i) acepta las condiciones contenidas en el presente Aviso de Privacidad; (ii) está de acuerdo en que la información proporcionada por usted pueda almacenarse, usarse y, en general, tratarse para los fines que se señalan, incluso para fines comerciales y de promoción; (iii) otorga a la CMIC autorización para obtener, compilar, almacenar, compartir, comunicar, transmitir y usar tal información de cualquier manera o forma, de conformidad con las condiciones establecidas en el presente y las leyes aplicables.
  <br><br>
</div>

<web-footer></web-footer>
</ion-content>
