
<ion-content [fullscreen]="true">

  <ion-toolbar  color="dark" class="mt-4 py-2">
    <br>
    <h1 class="ms-2 ms-md-5 mb-0 titulo"><b> Bolsa de Postulantes</b></h1>
    <br>
  </ion-toolbar>
  <div class="mt-1 px-3">
    <div class="container">
  
      <div class="d-flex mt-5">
       
        <hr>
        <ion-searchbar [(ngModel)]="search" (ngModelChange)="bolsaSelected=[]" class="ms-auto me-3 my-0 w-100" placeholder="Buscar Postulante" inputmode="text" type="text" [debounce]="250" ></ion-searchbar>
      </div>
      <table class="table mt-0">
        <thead class="red">
          <tr>
            <th scope="col" class="red ">Nombre</th>
            <th scope="col" class="red">Área</th>
            <th scope="col" class="red">Teléfono</th>
            <th scope="col" class="red">Curriculum</th>
          </tr>
        </thead>
        <tbody *ngIf="bolsaSelected.length === 0">
          <tr *ngFor="let item of bolsa.slice(((pagina)*divisor),(pagina+1)*divisor)  | bolsaTrabajoPostulanteSearch:search">
            <td class="d-flex">    
              <ion-avatar *ngIf="item.matricula" >
              <img src="../../../../assets/logo-itc-3.png" />
            </ion-avatar> {{item.nombre}}</td>
            <td>{{item.area}}</td>
            <td>{{item.telefono}}</td>
            <td>
              <ion-button *ngIf="item.curriculum" slot="start" fill="clear" (click)="download(item.curriculum)">
                <ion-icon slot="icon-only" name="download-outline"></ion-icon>
              </ion-button>
            </td>
          </tr>
        </tbody>
        <tbody *ngIf="bolsaSelected.length > 0">
          <tr *ngFor="let item of bolsaSelected">
            <td class="d-flex" >
              <ion-avatar *ngIf="item.matricula">
                <img src="../../../../assets/logo-itc-3.png" />
              </ion-avatar>
              {{item.nombre}}
            </td>
            <td>{{item.area}}</td>
            <td>{{item.telefono}}</td>
            <td>
              <ion-button *ngIf="item.curriculum" slot="start" fill="clear" (click)="download(item.curriculum)">
                <ion-icon slot="icon-only" name="download-outline"></ion-icon>
              </ion-button>
            </td>
          </tr>
        </tbody>
      </table>

      <paginador [total]="bolsa.length" [divisor]="divisor" (pagina)="getPagina($event)" ></paginador>
    </div>
  </div>




</ion-content>
