ion-content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  h5 {
    font-size: 20px;
  }

  
  h4 {
    font-size: 20px!important;
  }

  .inner p{
    font-size: 32px!important;
  }

  .titulo{
    background: rgb(0,0,0);
    background: linear-gradient(129deg, rgba(0,0,0,1) 22%, rgba(73,73,73,1) 63%);

  }
  .titulo2{
    background: rgb(0,0,0);
    background: linear-gradient(129deg, rgba(0,0,0,1) 22%, rgba(73,73,73,1) 63%);

  }
  .izquierda{
    background-position: center;
    background-repeat: cover;
    backdrop-filter: grayscale(30%);
  }

 .h{
  min-height: 92%;
 }

 hr {
  border-color: var(--ion-color-primary);
  background-color: var(--ion-color-primary);
  border-width: 2px;
  margin: 0;
  width: 50px;
  opacity: 1;
  margin-right:auto; /* Centra horizontalmente el <hr> */
}


.dark{
  border-radius: 30px;
  background-color: var(--ion-color-dark);
  display: inline-block;
}