<ion-content [fullscreen]="true">
  <br>
  <ion-toolbar  color="dark" class=" py-2">
    <br>
    <h1 class="ms-2 ms-md-5 mb-0 titulo"><b> {{editar ? 'Editar' : 'Crear'}} Boletines</b></h1>
    <hr class="palito ms-2 ms-md-5 mt-0 mb-3">
  </ion-toolbar>

  <div class="container px-5">
    <form [formGroup]="sliderForm">
      <ion-button (click)="addImage()" style="max-width: 400px;" shape="round">
        Subir Fotografías
      </ion-button>
  <div class="row">
    <ion-img *ngFor="let item of image" [src]="item" (click)="eliminarimagenes(item)" slot="end" style="max-height: 150px; width: 200px;"></ion-img>
  </div>
      <ion-item class="ion-margin-vertical">
        <label >Fecha de Boletin</label>
        <input type="date" class="form-control my-3" >
      </ion-item>
      <ion-input type="text" class="my-4 border" label="Titulo" labelPlacement="floating" formControlName="titulo" ></ion-input>
      <div class="NgxEditor__Wrapper">
        <ngx-editor-menu [toolbar]="toolbar" [editor]="editor"> </ngx-editor-menu>
        <ngx-editor [editor]="editor" formControlName="informacion" [placeholder]="'Descripción del evento'"></ngx-editor>
      </div>
      <ion-button class="ion-margin-vertical" [disabled]="!image" (click)="save()" expand="block"  shape="round">
        {{editar ? 'Guardar Cambios': 'Crear Boletín'}}
      </ion-button>
    </form>
       
  </div>


</ion-content>