.red{
    background-color: var(--ion-color-primary);
    color: white;
}
.img-fluid{
    max-width: 100px;
}
li{
    cursor: pointer;
}

.page-item, .page-link{
    color:  var(--ion-color-primary)!important
}

.page-selected{
    color: white!important;
    background-color: var(--ion-color-primary)!important;
    font-weight: bolder!important;
}